<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">About</h1>
    <p>HTML was first created by Tim Berners-Lee, Robert Cailliau, and others
      starting in 1989. It stands for Hyper Text Markup Language. Hypertext
      means that the document contains links that allow the reader to jump to
      other places in the document or to another document altogether. The latest
      version is known as HTML5. A Markup Language is a way that computers speak
      to each other to control how text is processed and presented. To do this
      HTML uses two things: tags and attributes.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>What is HTML?</h2>
      <p>Okay, so this is the only bit of mandatory theory. In order to begin to
        write HTML, it helps if you know what you are writing. HTML is the
        language in which most websites are written. HTML is used to create
        pages and make them functional. The code used to make them visually
        appealing is known as CSS and we shall focus on this in a later
        tutorial. For now, we will focus on teaching you how to build rather
        than design.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Golden Rules</h2>
      <p>The vast majority of tags must be opened (<tag>) and closed (</tag>)
        with the element information such as a title or text resting between the
        tags. When using multiple tags, the tags must be closed in the order in
        which they were opened. For example:
        <strong><em>This is really important!</em></strong>
      </p>
    </div>
    <div class="col-md-4">
      <h2>HTML Editors</h2>
      <p>Now that we've gotten the basic theory out of the way. It's time to
        learn how to build our first website. First off, we must ensure that we
        have the right tools. Most important, we need an HTML editor. There are
        many choices on the market. Here are a handful of the most popular.
      </p>
    </div>
  </div>
</div>