<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome</h1>
    <p>In 2020, after much fascination about web and playing with Photoshop to
      make layouts, I realised I had to learn HTML and CSS if I wanted to bring
      my designs to life. Turns out it took 1 day (5-6 hours) to learn the
      basics and 2 more days to be able to work my way around it. This is to
      show how easy it is to learn HTML and CSS. I learned HTML by always
      looking at the code and remembering the HTML tags.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>About this page</h2>
      <p>Then I decided I did not want a high power dictating the amount of code
        used. I was never afraid of code, tinkering with it, breaking it,
        figuring it out. I always wanted to learn the hard way to fully consume
        the concepts. I strayed away from using bloated templates and themes and
        just wrote the code bare bones because it's actually quite elegant.
      </p>
    </div>
    <div class="col-md-4">
      <h2>About Experience</h2>
      <p>Really surprised by this one;was expecting the run of the mill rom-com,
        but it is so much more than that; it's about family and the smiles and
        cries of life. The whole film was filled with charm, wit and had its
        fair share of heartfelt moments. Time travel is a subject that has been
        visited many times in the film industry.
      </p>
    </div>
    <div class="col-md-4">
      <h2>About Learning</h2>
      <p>It brings to life the things you learn and gives them a chance to
        breathe with real-world applications. It also gives you a chance to
        appreciate both the importance and the limitation of theory ... not
        everything works out as neatly as it says in the book! But with a solid
        scientific foundation, you are better able to evaluate and adapt,
        gaining greater insight into the process of software.
      </p>
    </div>
  </div>
</div>