<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Html Demo</h1>
    <p>While many guides on the internet attempt to teach HTML using a lot of
      mind-boggling theory, this tutorial will instead focus on giving you the
      practical skills to build your first site. The aim is to show you how to
      create your first web page without spending the entire tutorial focusing
      too much on the “why.” By the end of this tutorial, you will have the
      know-how to create a basic website and we hope that this will inspire you
      to delve further into the world of HTML using our follow-on guides.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Add Links In HTML</h2>
      <p>As you may have noticed, the internet is made up of lots of links.
        Almost everything you click on while surfing the web is a link takes you
        to another page within the website you are visiting or to an external
        site. Links are included in an attribute opened by the 'a' tag. This
        element is the first that we've met which uses an attribute and so it
        looks different to previously mentioned tags.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Add Images In HTML</h2>
      <p>In today's modern digital world, images are everything. The img tag has
        everything you need to display images on your site. Much like the a
        anchor element, img also contains an attribute. The attribute features
        information for your computer regarding the source, height, width and
        alt text of the image.
      </p>
    </div>
    <div class="col-md-4">
      <h2>HTML tables</h2>
      <p>These tutorials guide you through the process of creating tables for
        your exact needs. Tables were once the primary means by which pages were
        laid out. With the adoption of CSS, this is no longer necessary. And for
        good reason, because this created pages that were almost impossible to
        maintain. But for the purpose of display tables, HTML offers all the
        tools you will need.

      </p>
    </div>
  </div>
</div>