<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>List Page</title>
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="theme.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="">ROCK ICE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/list">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/table">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/audio">Audio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/video">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/storefront">Store</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Welcome to List Page</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Discover great lists in this page.
          </p>
        </div>
      </div>
    </header>

    <br /><br />
    <!-- Section-->
    <section>
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <h2>About Myself</h2>
            <p class="lead">
              This is a great place to talk about your webpage. This template is
              purposefully unstyled so you can use it as a boilerplate or
              starting point for you own landing page designs! This template
              features:
            </p>
            <ul>
              <li>Student Name: Xiaoyue Zhao</li>
              <li>Student ID: 124899212</li>
              <li>Program: Computer Programming</li>
            </ul>
            <br />
            <h2>Daily Food</h2>
            <ol>
              <li>
                Meat is animal flesh that is eaten as food. Humans have hunted,
                farmed, and scavenged animals for meat since prehistoric times.
                <ul>
                  <li>
                    Beef contains protein, iron, and vitamin B12. Along with
                    other kinds of red meat, high consumption is associated with
                    an increased risk of colorectal cancer and coronary heart
                    disease, especially when processed. Beef has a high
                    environmental impact, being a primary driver of
                    deforestation with the highest greenhouse gas emissions of
                    any agricultural product.
                  </li>
                  <li>
                    Lamb, hogget, and mutton, generically sheep meat,are the
                    meat of domestic sheep, Ovis aries. A sheep in its first
                    year is a lamb and its meat is also lamb.
                  </li>
                  <li>
                    Pork, its myoglobin content is lower than that of beef, but
                    much higher than that of chicken, so the USDA treats pork as
                    a red meat.[22] In 1987 the U.S. National Pork Board began
                    an advertising campaign to position pork as "the other white
                    meat"—due to a public perception of chicken and turkey
                    (white meat) as healthier than red meat. The campaign was
                    highly successful and resulted in 87% of consumers
                    identifying pork with the slogan. The board retired the
                    slogan on 4 March 2011.
                  </li>
                </ul>
              </li>
              <br />
              <li>
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food
              </li>
              <br />
              <li>
                Eggs are laid by female animals of many different species,
                including birds, reptiles, amphibians, a few mammals, and fish,
                and many of these have been eaten by humans for thousands of
                years.Eggs are laid by female animals of many different species,
                including birds, reptiles, amphibians, a few mammals, and fish,
                and many of these have been eaten by humans for thousands of
                years.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <br /><br />

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2022</p>
      </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
