<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        font-family: "Lato", sans-serif;
      }
      .mySlides {
        display: none;
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a
          class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
          href="javascript:void(0)"
          onclick="myFunction()"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a
          href="/list"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          >LIST</a
        >
        <a
          href="/table"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          >TABLE</a
        >
        <a
          href="/audio"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          >AUDIO</a
        >
        <a
          href="/video"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          >VIDEO</a
        >

        <a
          href="javascript:void(0)"
          class="w3-padding-large w3-hover-red w3-hide-small w3-right"
          ><i class="fa fa-search"></i
        ></a>
      </div>
    </div>

    <!-- Page content -->

    <div class="w3-content" style="max-width: 2000px; margin-top: 46px">
      <!-- Main Section -->
      <div
        class="w3-container w3-content w3-center w3-padding-64"
        style="max-width: 800px"
        id="band"
      >
        <h1>Video Resources</h1>
        <p class="w3-opacity">
          <i>My Videos</i>
        </p>

        <h4>Fall 2018 WEB222</h4>
        <video width="640" height="240" controls>
          <source
            src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg"
            type="video/ogg"
          />
          <source
            src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp4"
            type="video/mp4"
          />
          Your browser does not support the audio element.
        </video>
        <br />

        <h4>Fall 2021 WEB322</h4>
        <video width="640" height="240" controls>
          <source
            src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg"
            type="video/ogg"
          />
          <source
            src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp4"
            type="video/mp4"
          />
          Your browser does not support the audio element.
        </video>
        <br />

        <h4>Introduction</h4>
        <p>
          “Real-world” experience is a great way to reinforce classroom
          material. It brings to life the things you learn and gives them a
          chance to breathe with real-world applications. It also gives you a
          chance to appreciate both the importance and the limitation of theory
          ... not everything works out as neatly as it says in the book! But
          with a solid scientific foundation, you are better able to evaluate
          and adapt, gaining greater insight into the process of software.
        </p>
      </div>
    </div>
  </body>
</html>
