<div class="row">
  <main class="col-md-12">

    <!-- Start your code here -->

    <br />

    <form method="post" action="/courses/add">

      <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Course Code:</label>
              <input class="form-control" name="courseCode" type="text" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Course Description:</label>
              <input
                class="form-control"
                name="courseDescription"
                type="text"
              />
            </div>
          </div>
        </div>
      </fieldset>

      <hr />

      <input
        type="submit"
        class="btn btn-primary float-right"
        value="Add Course"
      /><br /><br /><br />

    </form>

    <!-- End your code here  -->

  </main>
</div>