<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>A4 Homepage</title>
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="theme.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="">ROCK ICE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/list">List</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/table">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/audio">Audio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/video">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/storefront">Store</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Welcome to XZ's Website</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Welcome to my 4th assignment website.
          </p>
        </div>
      </div>
    </header>

    <br /><br />
    <!-- Section-->
    <section>
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <h2>About this page</h2>
            <p class="lead">
              In 2020, after much fascination about web and playing with
              Photoshop to make layouts, I realised I had to learn HTML and CSS
              if I wanted to bring my designs to life. Turns out it took 1
              day(5-6 hours) to learn the basics and 2 more days to be able to
              work my way around it. This is to show how easy it is to learn
              HTML and CSS. I learned HTML by always looking at the code and
              remembering the HTML tags. Then I decided I did not want a high
              power dictating the amount of code used. I was never afraid of
              code, tinkering with it, breaking it, figuring it out. I always
              wanted to learn the hard way to fully consume the concepts. I
              strayed away from using bloated templates and themes and just
              wrote the code bare bones because it's actually quite elegant and
              simple.
            </p>
            <br />
            <h2>Demonstrating HTML5 principles and techniques...</h2>
            <p class="lead">
              HTML5 is the newest version of HTML. The term refers to two
              things. One is the updated HTML language itself, which has new
              elements and attributes. The second is the larger set of
              technologies that work with this new version of HTML — like a new
              video format — and enable you to build more complex and powerful
              websites and apps. To understand how HTML has evolved over the
              years, let's look at the differences between HTML and HTML5.
            </p>
          </div>
        </div>
      </div>
    </section>
    <br /><br />

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2022</p>
      </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
